// .card-header.custom {
//     background-color: bisque;
// }

.instock {
    background-color: green
}
.not-in-stock {
    background-color: red;
}

.colorGreen {
    color: green
}
.sale {
    margin-left: 10px;
    padding: 5px 20px;
    background-color: orange;
    border-radius: 8px
}