$--background: #f2faff;

.content {
    background-color: $--background;
    padding: 2rem;
    h2 {
        color: red
     }
     .title {
         color: grey
     }
     img {
        width: 50px;
     }
     .config-board {
        display: flex;
        flex-direction: column;
        .field {
            display: flex;
            margin-bottom: .5rem;
            p {
                margin-right: 5px;
            }
        }
     }
     .st-card {
         display: grid;
         grid-template-columns: 170px 1fr 50px;
         height: 250px;
         width: 420px;
         background-color: #fff;
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
         margin-bottom: 1rem;
         border-radius: 10px;
         overflow: hidden;
       }
       
       .st-icon {
         width: 40px;
         margin-top: 10px;
       }
       
       .st-card-image {
         border-radius: 3px;
         height: 168px;
         width: 131px;
         margin: 10px 0 0 15px;
         border: 3px solid #d4d4ec;
         img {
             width: 100%;
         }
       }
       
       .st-card-info {
         font-size: 1.15rem;
         margin: 0;
       }
       
       .st-card-info p {
         margin-top: 8px;
         line-height: 1.3;
       }
       
       .st-card-footer {
         display: grid;
         align-content: center;
         grid-column: 1/-1;
         align-self: end;
         height: 56.5px;
         background-color: #3847e4; 
         padding: 0 10px;
         color: #fff;
         span {
          font-size: 12px;
         }
       }
       
       .st-logo {
         width: 125px;
         margin-left: 10px;
       }
}
