<div class="content">
  <h2 class="title" apphighligher>Welcome to {{ title }}</h2>
  <div class="d-flex justify-content-around mt-4">
    <!-- CONFIG -->
    <div class="config-board">
      <button (click)="displayStudentInfo()">log today</button>
      <div class="field">
        <p>Student Name:</p>
        <input type="text" [(ngModel)]="student.name" />
      </div>
      <div class="field">
        <p>Personal Number:</p>
        <input type="text" [(ngModel)]="student.personalNumber" />
      </div>
      <div class="field">
        <p>Select Gender:</p>
        <select (change)="selectGender($event)">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="field">
        <p>Student Status:</p>
        <input type="checkbox" [(ngModel)]="student.isStudent" />
      </div>
      <div>
        <h4>Get Student</h4>
        <div class="d-flex p-2" >
          <button class="btn btn-primary" (click)="getStudentById(studentId)">Generate Student</button>
          <input type="number" [(ngModel)]="studentId">
        </div>
        <div class="d-flex p-2">
          <button class="btn btn-primary" (click)="getStudent()">Get Student</button>
          <input type="text" [(ngModel)]="studentName">
        </div>
      </div>
    </div>
    <app-student-card [student]="student" [favCourses]="student.fav_courses" (emitMessage)="getMessageFromChild($event)" ></app-student-card>
  </div>
  <div>
    <app-directives></app-directives>
  </div>
  <div style="height: 600px">
    <app-pipes></app-pipes>
  </div>
</div>
