$--background: #f2faff;

.content {
    background-color: $--background;
    padding: 2rem;
    h2 {
        color: red
     }
     .title {
         color: grey
     }
     img {
        width: 50px;
     }
     .config-board {
        display: flex;
        flex-direction: column;
        .field {
            display: flex;
            margin-bottom: .5rem;
            p {
                margin-right: 5px;
            }
        }
     }
}
