<div class="content">
  <h2 class="title">Welcome to {{ title }}</h2>
  <div class="d-flex justify-content-around mt-4">
    <!-- CONFIG -->
    <div class="config-board">
      <button (click)="displayStudentInfo()">log today</button>
      <div class="field">
        <p>Student Name:</p>
        <input type="text" [(ngModel)]="student.name" />
      </div>
      <div class="field">
        <p>Personal Number:</p>
        <input type="text" [(ngModel)]="student.personalNumber" />
      </div>
      <div class="field">
        <p>Select Gender:</p>
        <select (change)="selectGender($event)">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="field">
        <p>Student Status:</p>
        <input type="checkbox" [(ngModel)]="student.isStudent" />
      </div>
      <div class="field">
        <p>Student Status</p>
        <div>
          <span>YES:</span>
          <input type="radio" [(ngModel)]="student.isStudent" value="true" style="margin-left: 5px"/>
          <span>NO:</span>
          <input type="radio" [(ngModel)]="student.isStudent" value="false"  style="margin-left: 5px"/>
        </div>
      </div>
    </div>
    <!-- CARD -->
    <div class="student-card">
      <div class="st-card">
        <div class="st-card-image">
          <img [src]="student.photourl" alt="Student Photo"/>
        </div>
        <div class="st-card-info">
          <p>
            <strong id="name">{{student.name}}</strong><br />
            <span id="studentNumber">{{student.personalNumber}}</span>
          </p>
          <p>{{student.gender}}</p>
          <p>{{student.isStudent ? 'Student' : 'Not a student'}}</p>
          <p class="st-card-date"> </p>
        </div>
        <img class="st-icon" src="https://d1fdloi71mui9q.cloudfront.net/pUp0ks3yQ8Ow5OhyG8Zj_5R3P7cnL8k7oItiJ" />
        <div class="st-card-footer">
          <span>Card Issue Date: {{student.cardIssueDate}}</span>
          <span>Valid</span>
        </div>
      </div>
    </div>
  </div>
</div>
