$--background: #f2faff;

.content {
    background-color: $--background;
    padding: 2rem;
    h2 {
        color: red
     }
     .title {
         color: grey
     }
     img {
        width: 50px;
     }
}
