<!-- {{_postService.number}}
<button (click)="increment()">Click to increase</button>
 -->


<div class="mt-3 mb-3">
    <button class="btn btn-primary mb-2" (click)="showForm = !showForm">{{showForm ? 'Hide Form' : '+ Add New Post'}}</button>
      <form  [formGroup]="newPostForm" class="form-container" *ngIf="showForm" (submit)="submitAddNewPost()">
        <div class="form-field">
          <span>Title</span>
          <input type="text" formControlName="title">
          <div *ngIf="title.invalid && (title.dirty || title.touched )"  class="text-danger">
              *This field is required
          </div>
        </div>
        <div class="form-field ms-2">
          <span>Content</span>
          <input type="text" formControlName="content">
          <div *ngIf="content.invalid && (content.dirty || content.touched )"  class="text-danger">
            *This field is required
        </div>
        <button class="btn btn-success ms-2" [disabled]="newPostForm.invalid">Submit</button>
        </div>
      </form>
</div>
<div class="d-flex m-2">
  <input type="text" class="input-field" [(ngModel)]='searchKey'> 
  <button (click)="searchByKey()">Search</button>
</div>
<app-pagination [pagination]="pagination" (itemsAmountPerPage)="changeAmountView($event)" ></app-pagination>

<div class="row row-cols-3">
    <div class="mb-3 col" *ngFor="let post of posts">
      <app-post-card [postDetails]="post" (sendPostToDelete)="deletePostById($event)"></app-post-card>
    </div>
</div>