<div class="todo">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Add your todo..."
      [(ngModel)]="todoQuery"
    />
    <button class="btn btn-secondary" (click)="addTodo(todoQuery)">Add</button>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <h5>Active Todos</h5>
      <ul class="list-group mt-2">
        <app-todo-item
          [todo]="todo"
          (removeItem)="removeTodo($event)"
          *ngFor="let todo of activeTodos"
          class="d-flex w-100 justify-content-between mt-3"
        ></app-todo-item>
        <div *ngIf="!activeTodos.length" class="m-auto alert alert-warning">
          No active todos to display
        </div>
      </ul>
    </div>
    <div>
      <h5>Done Todo List</h5>
      <ul class="list-group mt-2">
        <app-todo-item
        [todo]="todo"
        (removeItem)="removeTodo($event)"
        *ngFor="let todo of doneTodos"
        class="d-flex w-100 justify-content-between mt-3"
      ></app-todo-item>
        <div *ngIf="!doneTodos.length" class="m-auto alert alert-warning">
          Nothing done yet
        </div>
      </ul>
    </div>
  </div>
</div>
